<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
<!-- 
    href="/css/main.css", href="/public/css/main.css" 둘 다 작동하지 않는다. 정적으로 파일을 제공해야 한다.
    정적이란 의미는 express.Router이나 다른 미들웨어 소프트에서 치리되지 않고 파일 시스템으로 직접 포워딩한다는 뜻이다.
    app.js에 app.use(express.static(path.join(__dirname, 'public')));를 작성하고 href="/css/main.css"
-->
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
    </main>
</body>

</html>